

@using WebApplication3.Models;
@{
    string realname = ViewBag.StudentName;
    string username = ViewBag.username;
    var datafile = Server.MapPath("~/App_Data/Quiz1.txt");
    string data = File.ReadAllText(datafile);
    string[] arr = data.Split('\n');
    int len = arr.Length;
}
    

<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--theme-style-->
    <link href="~/Content/style4.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <script src="~/Scripts/jquery.min.js"></script>
    <!--- start-rate---->
    <script src="~/Scripts/jstarbox.js"></script>
    <link rel="stylesheet" href="~/Content/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
    <script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					}
				})
			});
		});
    </script>
    <!---//End-rate---->
</head>
<body>
    <!--header-->
    @Html.Partial("~/Views/Student/_studentheader.cshtml")
    <!--banner-->
    <div class="banner-top">
        <div class="container">
            <h1>@realname</h1>
            <em></em>
            <!--<table border="1"  width="100%" align="center">
                <tr>
                    <td><b>Question</b></td>
                    <td><b>A</b></td>
                    <td><b>B</b></td>
                    <td><b>C</b></td>
                    <td><b>D</b></td>
                    <td><b>Correct</b></td>
                </tr>
                @*
                @for(int i= 0 ;i<len ;i++)
                {
                    <tr>
                        <td><b>@arr[i]</b></td>
                        <td><b>@arr[++i]</b></td>
                        <td><b>@arr[++i]</b></td>
                        <td><b>@arr[++i]</b></td>
                        <td><b>@arr[++i]</b></td>
                        <td><b>@arr[++i]</b></td>


                    </tr>
                }
                    *@

            </table>-->
        </div>
    </div>
    <!--login-->
    <div class="container">
        <div class="login">
            <!--
            <form action="/Student/viewMarks" method="post">

                Quiz ID <input type="number" name="QID"/>

            </form>-->
            <p>
                Roll Number: <h1>@username </h1>

            </p>

            <table border="1" width="25%" align="center">

                <tr>
                    
                    
                    <td style="color:blue"><b>Quiz ID</b></td>

                    <td style="color:fuchsia"><b>Total Marks</b></td>
                    <td style="color:red"><b>Obtained Marks</b></td>


                </tr>
                     @foreach (var e in Model)
                     {
                        <tr>
                            
                            
                            <td style="color:blue">@e.QuizID</td>
                            <td style="color:fuchsia">@e.Total_Marks</td>
                            <td style="color:red">@e.Correct_Answers</td>
                        </tr>
                     }
                    
                
                



            </table>
        </div>

    </div>

    <!--//login-->
    <!--brand-->
    <div class="container">
        <br><br>
    </div>
    <!--//brand-->
    </div>

    </div>
    <!--//content-->
    <!--//footer-->
    @Html.Partial("~/Views/Student/_studentfooter.cshtml")
    <!--//footer-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="~/Scripts/simpleCart.min.js"> </script>
    <!-- slide -->
    <script src="~/Scripts/bootstrap.min.js"></script>


    
</body>
</html>